*.rb linguist-language=PHP
* text=Laravel
*.html linguist-language=PHP
*.js linguist-language=PHP
*.css linguist-language=PHP
# *.css linguist-vendored
*.scss linguist-vendored
# *.js linguist-vendored
CHANGELOG.md export-ignore
