<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ URL::asset('css/libs/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ URL::asset('css/libs/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ URL::asset('css/libs/vendor.bundle.addons.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ URL::asset('css/libs/style.css') }}">
    <link rel="stylesheet" href="{{ URL::asset('css/libs/mdi.css') }}">
    <!-- endinject -->

    <link rel="shortcut icon" href="{{ URL::asset('theme-images/favicon.png') }}">


</head>

<body>


    <span class="mdi mdi-access-point">dfsdfs</span>


    <!-- plugins:js -->
    <script src="{{ URL::asset('js/libs/vendor.bundle.base.js') }}"></script>
    <script src="{{ URL::asset('js/libs/vendor.bundle.addons.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{ URL::asset('js/libs/off-canvas.js') }}"></script>
    <script src="{{ URL::asset('js/libs/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ URL::asset('js/libs/dashboard.js') }}"></script>

    <!-- End custom js for this page-->
</body>

</html>